.inputGroup {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: var(--gap-quarter);

  label {
    .required {
      color: var(--text-color-error);
    }
  }

  input {
    padding: var(--padding-half);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error {
    color: var(--text-color-error);
    font-size: var(--half-font-size);
  }

  .css-1dyz3mf {
    max-height: 8rem !important;
    overflow-y: auto !important;
  }
}
